

.NavBar {
    
    
    margin-left: -3%;
    overflow: hidden;
    background-color: #110F1A;
    position: fixed;
    top: 0;
    width: 105%;
    border-bottom: 3px solid #8D7ACD;
    z-index: 1;
    
  
  
  }
  .NavBar a {
    
    
    float: left;
    display: block;
    color: #CAC4CE;
    text-align: center;
    padding: 0.7% 2.5%;
    font-weight: bold;
    text-decoration: none;
    font-size: 110%;
  
  
  }
  
  .NavBarIni {
   
    margin-left: 8%;
  
  }

  .Icons {
 

    margin-left: 20%;


  }
  
  .NavBar a:hover {
      
      
      color: #8D86C9;
      
  }

  /* Index  */

  .IndexBody {

    background-color: grey;
    height: 100vh;
    width: 100%;
    
    
    }

  .IndexPre {

    background-color: beige;
    height: 20%;
    width: 100%;
  }
  
  .IndexResLogo {

     width: 230px;
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto
    
  }  

  .IndexResPres {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 120%;

  }


  /* Fin Index  */  

.MenuBody {

    background-color: beige;
    height: 100vh;
    width: 100%;
        
        
    }
  
    /* Footer */

  .FooterCon {

    position: absolute;
    background-color: darkgray;
    height: 20%;
    width: 102%;
    bottom: 0;
    margin-bottom: -10%;
    margin-left: -2%;
    display: flex;                 
  flex-direction: row;          
  flex-wrap: nowrap;             
  justify-content: space-between; 
 

  }

  .FooterCon > div {
    
    text-align: center;
    font-size: 15px;
    margin: auto;
    width: 30%;
    height: 100px;
    border: 2px dashed red;

  }

  .Hora {
      
  }

  .Ubica {

  }

  .Redes {


  }

  .Redes a img {

      width: 35px;
      

  }

  /* Fin Footer */